<footer class="footer">
    <div class="footer_container">
        <section> 
            <h2 class="footer_title">Sobre</h2>
            <p class="footer_about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in dui ante. Nulla facilisi. Proin nec neque eget nisl porta placerat eget sed enim. Vestibulum auctor sapien elit, ac auctor diam blandit et. Praesent consectetur nec neque eu sodales. In nisi nibh, ornare imperdiet nulla a, finibus pellentesque libero. Phasellus hendrerit a risus sit amet mollis. In ac mi non elit accumsan porta id vitae diam.
            </p>
        </section>
        <address >
            <h2 class="footer_title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>Email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>(00) 00000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>whatsapp</li>
            </ul>
        </address>
    </div>
    <section class="footer_copyright">
        &copy; todos os direitos reservados
    </section>
</footer>
